body {
    margin:0;
    padding: 0;
    font-family: 'Roboto', serif;
    background-color: #85ddf2;
 }
 
 #logo { 
   float: left;
   display: inline-block;
   height: 40px;
   width: 40px;
   margin: 5;
 }
 
 .clear {
   clear: both;
 }
 
 
 #nav {
     background-color: #49a4ba;  /*turns nav bar white*/
     color: white;
     width: 100%;
 
 }
 .nav {
   float: right;
   list-style: none;    /*gets rid of bullet points*/ 
     text-align: left;
     /*padding: 0px -10px 0px -10px; */
   margin: 0;
 }
 .nav > li {                                                             /*max-width: 768px*/
     display:Inline-block;
     padding: 10px 9px 10px 9px;                               /*nav bar text*/
 }
 
  .nav > li a {                                               
      text-decoration: none;
      color: black;
      font-size: 20px;
      padding: 5px 0px 5px 0px
  }
 
  .nav > li > a:hover {
      color: #85ddf2;*/
  }

  #frontPage {
    
  }